alzam-simple-intent-workflow.json

{
  "name": "Alzam Customer AI Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "alzam-style-ai"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "functionCode": "const message = $json.body.toLowerCase();\n\nif (message.includes('price') || message.includes('cost')) {\n  return [{ intent: 'price' }];\n} else if (message.includes('product') || message.includes('catalog')) {\n  return [{ intent: 'product' }];\n} else if (message.includes('order') || message.includes('buy') || message.includes('purchase')) {\n  return [{ intent: 'order' }];\n} else {\n  return [{ intent: 'general' }];\n}"
      },
      "name": "Detect Intent (Function)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "propertyName": "intent",
        "rules": {
          "rules": [
            {
              "value": "price",
              "output": 0
            },
            {
              "value": "product",
              "output": 1
            },
            {
              "value": "order",
              "output": 2
            }
          ]
        }
      },
      "name": "Switch by Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "responseData": "text",
        "responseText": "💸 Our clothing price range:\n- Casual Shirts: PKR 2,000–3,000\n- Kurta Sets: PKR 3,500–5,500\n- Festive Wear: PKR 6,000+"
      },
      "name": "Send Price Info",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 100]
    },
    {
      "parameters": {
        "responseData": "text",
        "responseText": "🛍️ Browse our top collections:\n- Men's Kurta\n- Women's Festive Wear\nVisit: www.alzamstyle.com"
      },
      "name": "Send Product Catalog",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 200]
    },
    {
      "parameters": {
        "responseData": "text",
        "responseText": "🛒 Please send:\n1. Product name\n2. Size\n3. Address to place your order."
      },
      "name": "Collect Order Details",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 300]
    },
    {
      "parameters": {
        "responseData": "text",
        "responseText": "🤖 I'm here to help with Alzam Style products, pricing, or ordering. How can I assist you today?"
      },
      "name": "Send General Help",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [800, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Detect Intent (Function)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Intent (Function)": {
      "main": [
        [
          {
            "node": "Switch by Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by Intent": {
      "main": [
        [
          {
            "node": "Send Price Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Product Catalog",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Collect Order Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send General Help",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
